* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main--content {
    min-height: 100vh;
}

table, th, td {
    text-align: center;
}

div.action-btn a{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: gray;
    line-height: 30px;
}

div.action-btn a:hover {
    background-color: black;
}