nav {
    width: 20%;
    min-width: 200px;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--blackgray);
    position: fixed;
    padding-left: 50px;
    padding-top: 20px;
}

.list-nav, .sub-list-nav {
    box-sizing: border-box;
}

.list-nav>.item-nav {
    list-style-type: none;
    padding: 15px 0;
    display: flex;
    width: 80%;
    min-width: 150px;
    cursor: pointer;
}

.list-nav>.has-sub-nav{
    border-bottom: #EEEEEE 1px solid;;
}

.sub-list-nav>.item-nav {
    list-style-type: none;
    padding: 5px 0;
    padding-left: 40px;
    display: flex;
    width: 80%;
    min-width: 150px;
}

.link-item-nav {
    width: 100%;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.title-item-nav {
    margin-left: 20px;
}

.hide-report-sub-list-nav, .hide-master-sub-list-nav {
    display: none;
}
