

.page--signup {
    position: relative;
    top : calc(var(--height-main-header) + var(--height-information-header));
    width: 100%;
    min-height: calc(100vh - var(--height-main-header) - var(--height-information-header));
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main--box--signup {
    width: 400px;
    height: auto;
    padding: 20px;
    max-height: 900px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}



.form--signup {
    width: 80%;
    height: auto;
    box-sizing: border-box;
    display: grid;
    row-gap: 10px;
    margin-top: 50px;
}

.form--group--signup {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.form--checkbox--signup {
    flex-direction: row;
    align-items: center;
}

label.label--form--signup {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 3px;
}

label.checkbox--signup {
    margin-left: 10px;
    font-size: 10pt;
}

input.input--form-signup {
    font-size: 12pt;
    letter-spacing: .75px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px black solid;
}

input.submit--form-signup {
    /* border: none; */
    width: 100px;
    border-radius: 5px;
    background-color: #ffffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.login--text--anchor--signup {
    font-weight: bold;
}

textarea:focus, input:focus {
    outline: none;
    border-bottom: 1px var(--bluegray) solid;
}

.error {
    color: red;
    font-style: italic;
    font-size: 10pt;
}

