

.page--sign--up {
    position: relative;
    top : var(--height-main-header);
    width: 100%;
    height: calc(100vh - var(--height-main-header));
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main--box--sign--up {
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.form--sign--up {
    width: 80%;
    height: auto;
    display: grid;
    row-gap: 10px;
    margin-top: 50px;
}

label.label--form--sign--up {
    font-size: 14pt;
    margin-top: 3px;
}

input.input--form-sign--up {
    font-size: 18pt;
    border: none;
    border-bottom: 1px black solid;
}

input.submit--form-sign--up {
    /* border: none; */
    width: 100px;
    border-radius: 5px;
    background-color: #ffffffff;
    margin-top: 10px;
    padding: 5px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.login--text--anchor--sign--up {
    font-weight: bold;
}

textarea:focus, input:focus {
    outline: none;
}



